@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1>Welcome</h1>
    <p>The Northwind ASP.NET Core MVC web application demonstrates how to create web apps using MVC, EF Core, Visual Studio, and the NorthWind database.</p>

    <h2>Browse</h2>
    <ul class="list-group">
        <li class="list-group-item"><i class="fas fa-users"></i>&nbsp;&nbsp;<a href="/Customer/">Customers</a></li>
        <li class="list-group-item"><i class="fas fa-users"></i>&nbsp;&nbsp;<a href="/Customer/OrderDetails/ALFKI">ALFKI Customer Orders</a></li>
    </ul>
</div>